
.header{
  background-color: white;
  display: flex;
  align-content: center;
  align-items: center;
}
.formPaginationContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.previousNext{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
}
.unsetBtn{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 20px;
}
.cardContainer{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.imgpost{
  height: 30vw;
  object-fit:contain;
  padding: 10px;
}
.searchContainer {
  display: flex;
  justify-content:center;
  align-items: center; 
  flex-direction: column;
  padding: 20px;
  width: 90%;
  border: #FDB813 1px solid;
}
.btnProfil{
  text-decoration: none;
  padding-top: 10px;
  border-radius: 12px;
  background-color: #FDB813;
  width: 100%;
  margin: 10px;
  color:white;
  height: 40px;
  padding:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0px;
  align-self: center;
}
.selctandbtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cardpictagcontainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  flex-direction: column;
  width: 100%;
}
.tag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  text-align: center;
  color:white;
  border-radius: 10px;
}
.photoprofil{
margin: 10px;
  width:50px;
  clip-path:ellipse(50% 50%);
}
.sameline{
  display: flex;
  align-items: center;
  flex-direction: row;

}
.commentInfo{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}
.returntoline{
  display: flex;
  align-items: center;
  flex-direction: column;
}
option{
  color:blue
}